<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc1 {
	color: #008000;
}
.sc4 {
	color: #0000FF;
}
.sc6 {
	font-weight: bold;
	color: #0000FF;
}
.sc12 {
	color: #808040;
}
.sc13 {
	color: #0000FF;
}
.sc16 {
	color: #FF0000;
}
.sc24 {
}
</style>
<div style="white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc4">Local</span><span class="sc24"> </span><span class="sc6">File</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileInput</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileOutput</span><span class="sc12">;</span><span class="sc24">
</span><span class="sc4">Local</span><span class="sc24"> </span><span class="sc4">string</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">strLine</span><span class="sc12">;</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileInput</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">GetFile</span><span class="sc12">(</span><span class="sc16">"D:\psoft852\fdm01pa\temp\in.txt"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"R"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"CP1252"</span><span class="sc12">,</span><span class="sc24"> 
</span><span class="sc12">%</span><span class="sc0">FilePath_Absolute</span><span class="sc12">);</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileOutput</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">GetFile</span><span class="sc12">(</span><span class="sc16">"D:\psoft852\fdm01pa\temp\out.txt"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"W"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"UTF-8"</span><span class="sc12">,</span><span class="sc24"> 
</span><span class="sc12">%</span><span class="sc0">FilePath_Absolute</span><span class="sc12">);</span><span class="sc24">

</span><span class="sc13">If</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileInput</span><span class="sc12">.</span><span class="sc0">IsOpen</span><span class="sc24"> </span><span class="sc4">And</span><span class="sc24">
      </span><span class="sc12">&amp;</span><span class="sc0">fileOutput</span><span class="sc12">.</span><span class="sc0">IsOpen</span><span class="sc24"> </span><span class="sc4">Then</span><span class="sc24">
   </span><span class="sc13">While</span><span class="sc24"> </span><span class="sc12">(&amp;</span><span class="sc0">fileInput</span><span class="sc12">.</span><span class="sc0">ReadLine</span><span class="sc12">(&amp;</span><span class="sc0">strLine</span><span class="sc12">))</span><span class="sc24">
      </span><span class="sc12">&amp;</span><span class="sc0">fileOutput</span><span class="sc12">.</span><span class="sc0">WriteLine</span><span class="sc12">(&amp;</span><span class="sc0">strLine</span><span class="sc12">);</span><span class="sc24">
   </span><span class="sc13">End-While</span><span class="sc12">;</span><span class="sc24">
</span><span class="sc4">Else</span><span class="sc24">
   </span><span class="sc1">/*Error processing
......
Error processing*/</span><span class="sc24">
   
</span><span class="sc13">End-If</span><span class="sc12">;</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileInput</span><span class="sc12">.</span><span class="sc0">Close</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">fileOutput</span><span class="sc12">.</span><span class="sc0">Close</span><span class="sc12">();</span><span class="sc24">
</span></div>
