<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=windows-1252">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc4 {
	color: #0000FF;
}
.sc6 {
	font-weight: bold;
	color: #0000FF;
}
.sc12 {
	color: #808040;
}
.sc13 {
	color: #0000FF;
}
.sc16 {
	color: #FF0000;
}
.sc24 {
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc4">Local</span><span class="sc24"> </span><span class="sc6">JavaObject</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileInputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">inputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">bufferReader</span><span class="sc12">;</span><span class="sc24">
</span><span class="sc4">Local</span><span class="sc24"> </span><span class="sc6">JavaObject</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileOutputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">outputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">bufferWriter</span><span class="sc12">;</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileInputStream</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.FileInputStream"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"D:\psoft852\fdm01pa\temp\in.txt"</span><span class="sc12">);</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">inputStream</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.InputStreamReader"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileInputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"Cp1252"</span><span class="sc12">);</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">bufferReader</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.BufferedReader"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">inputStream</span><span class="sc12">);</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileOutputStream</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.FileOutputStream"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"D:\psoft852\fdm01pa\temp\out.txt"</span><span class="sc12">);</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">outputStream</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.OutputStreamWriter"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">fileOutputStream</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc16">"UTF8"</span><span class="sc12">);</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">bufferWriter</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc4">CreateJavaObject</span><span class="sc12">(</span><span class="sc16">"java.io.BufferedWriter"</span><span class="sc12">,</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">outputStream</span><span class="sc12">);</span><span class="sc24">

</span><span class="sc13">While</span><span class="sc24"> </span><span class="sc4">True</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">line</span><span class="sc24"> </span><span class="sc12">=</span><span class="sc24"> </span><span class="sc12">&amp;</span><span class="sc0">bufferReader</span><span class="sc12">.</span><span class="sc0">readLine</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc13">If</span><span class="sc24"> </span><span class="sc12">(&amp;</span><span class="sc0">line</span><span class="sc24"> </span><span class="sc12">&lt;&gt;</span><span class="sc24"> </span><span class="sc0">Null</span><span class="sc12">)</span><span class="sc24"> </span><span class="sc4">Then</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">bufferWriter</span><span class="sc12">.</span><span class="sc0">write</span><span class="sc12">(&amp;</span><span class="sc0">line</span><span class="sc12">);</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">bufferWriter</span><span class="sc12">.</span><span class="sc0">newLine</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc4">Else</span><span class="sc24">
</span><span class="sc4">Break</span><span class="sc12">;</span><span class="sc24">
</span><span class="sc13">End-If</span><span class="sc12">;</span><span class="sc24">
</span><span class="sc13">End-While</span><span class="sc12">;</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">bufferReader</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">bufferWriter</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">inputStream</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">outputStream</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span><span class="sc24">

</span><span class="sc12">&amp;</span><span class="sc0">fileInputStream</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span><span class="sc24">
</span><span class="sc12">&amp;</span><span class="sc0">fileOutputStream</span><span class="sc12">.</span><span class="sc0">close</span><span class="sc12">();</span></div></body>
</html>
